In [1]:
import numpy as np
import pandas as pd
import geopandas as gp
import matplotlib.pyplot as plt

Download the file which has been cleaned in cultural_map.ipynb

In [2]:
Data = pd.read_csv("Publicart final(without year NaN).csv")
Data.drop(['Unnamed: 0'],axis = 1)
Data

,Unnamed: 0,Name,y,x,Date,Sort
0,0,Monument to Carl Linnaeus,55.966842,-3.207415,1778.0,Public art
1,1,Charles II,55.949200,-3.190500,1685.0,Public art
2,2,Monument to John Playfair,55.954800,-3.183000,1825.0,Public art
3,3,Monument to Dugald Stewart,55.954500,-3.184500,1831.0,Public art
4,4,Monument to Robert Burns,55.953500,-3.178300,1831.0,Public art
...,...,...,...,...,...,...
147,147,Poseidon,55.980129,-3.218357,2019.0,Street art
148,148,Figgate Park Wild life,55.951000,-3.122000,2015.0,Street art
149,149,Figgate Park Wild life,55.950000,-3.128000,2015.0,Street art
150,150,Figgate Park Wild life,55.951000,-3.126000,2015.0,Street art
151,151,Figgate Park Wild life,55.951000,-3.121000,2015.0,Street art

How many public art are there in Edinburgh?

In [3]:
Total_public_art = Data['Name'].size
Total_public_art

152

When did the earliest public art appear in Edinburgh?

In [4]:
Earliest_public_art = Data['Date'].min()
Earliest_public_art

1685.0

When did the latest public art appear in Edinburgh?

In [5]:
Latest_public_art = Data['Date'].max()
Latest_public_art

2020.0

How much public art existed before in the 21th century？

In [6]:
NUM21th= Data.loc[Data['Date']>2000].shape[0]
NUM21th

43

How much public art existed in the 20th century？

In [7]:
NUM20th= Data.loc[(Data['Date']<=2000) & (Data['Date']>1900)].shape[0]
NUM20th

61

How much public art existed in the 19th century？

In [8]:
NUM19th= Data.loc[(Data['Date']<=1900) & (Data['Date']>1800)].shape[0]
NUM19th

46

How much public art existed before the 19th century？

In [9]:
Before19th= Data.loc[(Data['Date']<=1800)].shape[0]
Before19th

2